<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div>
                <a  href="{{ path('app_register') }}">Register</a>
            </div>
        {% endif %}
        {% if message_info is defined %}
            <p>{{ message_info }}</p>
        {% endif %}
        <a href="{{ path('selectionner.personne.a.effacer') }}">Effacer une personne</a><br>
        <a href="{{ path('selectionner.personne.a.valider') }}">Valider des personnes</a><br>
    </body>
</html>




